<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_Bai2" verbose="1">
    <test name="Kiem Thu Nhom Regression">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="dtm.KiemThuDangNhapTest"/>
            <class name="dtm.KiemThuGioHangTest"/>
            <class name="dtm.KiemThuThanhToanTest"/>
        </classes>
    </test>
</suite>